html {
  height: 100%;
  color: white;
}

.container img {
	width: 200px;
}

.container h1,h3,h2 {
	margin-top: 80px;
  color: white;
}

h2 a {
  color: white;
}

.container {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  margin-top: 240px;
	text-align: center;
  display:block;
  opacity: 0;
}

.container.visible {
  visibility: visible;
  opacity: 1;
}

body { 
  /*height: 100%;*/
  background-image: url('/img/wallpaper-2984723.png'); 
  /*background-size: 100% auto;*/
  background-attachment: fixed; 
  /*background-repeat: repeat fixed;*/
  background-repeat: repeat-x;
  background-position: left top;
}

.vertical.flip-container.enter {
  /*-webkit-transform: translate(0,-40%);*/
  top: 0;
  margin-top: 20px;
}

/* BEGIN FLIPPER */
.flip-container {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  /*border: 1px solid #ccc;*/
}

  
  /*.flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    filter: FlipH;
      -ms-filter: "FlipH";
  }*/

.flip-container, .front, .back {
  width: 200px;
  height: 200px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  /*position: relative;*/
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-image: url('/img/logo.png');
  z-index: 2;
}

.back {
  background-image: url('/img/face.png');
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.vertical.flip-container {
  margin-top: -100px;
  margin-left: -100px;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.6s ease-in-out;
  /*-webkit-transform: translate(3em,0);*/
  position: absolute;
  border-radius: 100px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.30), inset 0 0 30px rgba(0, 0, 0, 0.30);
}

.vertical.flip-container:not(.flip):hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0 -20px 30px rgba(0, 0, 0, 0.2);
}

.vertical.flip-container.flip:hover {
  box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.2), inset 0 20px 30px rgba(0, 0, 0, 0.2);
}

  .vertical .back {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .vertical.flip-container .flipper {
    -webkit-transform-origin: 100% 100px;
    -moz-transform-origin: 100% 100px;
    transform-origin: 100% 100px;
  }

  .vertical.flip-container.flip .flipper {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  .vertical.flip-container:hover .flipper {
    -webkit-transition: all 0.3s ease-in-out;
  }

  .vertical.flip-container:not(.flip):hover .flipper {
    -webkit-transform: rotateX(25deg);
    -moz-transform: rotateX(25deg);
    transform: rotateX(25deg);
  }

  .vertical.flip-container.flip:hover .flipper {
    -webkit-transform: rotateX(155deg);
    -moz-transform: rotateX(155deg);
    transform: rotateX(155deg);
  }

/* END FLIPPER */