!!! 5
html(lang="en")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // css
    link(rel="stylesheet", media="screen", href="//getbootstrap.com/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
      
  body
    .container
      div.flip-container(ontouchstart="this.classList.toggle('hover');")
        div.flipper
          div.front
            //- img(src="/img/logo.png")
          div.back
            //- img(src="/img/logo.jpg")
      h1.title= title
      h3= text

  // js
  script(src="//code.jquery.com/jquery.js", type='text/javascript')
  script(src="//getbootstrap.com/dist/js/bootstrap.js", type="text/javascript")
  script(src="js/main.js", type='text/javascript')